{% extends "layout3.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
  
<div class="alert alert-success alert-dismissible fade show" role="alert">
   <p align="center"> {{ msg }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<header>
  <link href="{{url_for('static',filename='img/view-bg.jpg')}}" rel="stylesheet" />
</header>

<div class="leftcorner">
  <h3>Action :</h3>
  
  <a href="/logout"><button class="btn btn-info">Logout</button> </a>
  
</div>
<hr>
<br>
<h1><p align="center">Student Data</p></h1><br>
<table class="table table-bordered" style="margin-left: 10px;">
  <thead>
    <tr>
      <th scope="col">Roll</th>
      <th scope="col">Name</th>
      <th scope="col">Sem</th>
      <th scope="col">Gender</th>
      <th scope="col">Stream</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for i in getdata %}
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>

      <td><a href="/edit/{{i[0]}}"><button class="btn btn-success">Edit</button></a></td>
      <td><a href="/delete/{{i[0]}}"><button class="btn btn-warning">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div>
</div>

{% endblock %}
