{% extends "layout3.html" %}
{% block body %}

<header>
    <link href="{{url_for('static',filename='img/view-bg.jpg')}}" rel="stylesheet" />
</header>

<div class="leftcorner">
    <h3>Action :</h3>
    <a href="/dashboard"><button class="btn btn-secondary">Dashboard Home</button></a>
    <hr>

    <form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p align="center">{{ msg }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

</form>

{% for i in getdata %}
<br>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Edit Student Details</h2>
        </div>
    </div>

    <form id="contactForm" action="/update/{{i[0]}}" method="post">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">

                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" name='name' value="{{i[1]}}"
                        placeholder="Enter your name..." data-sb-validations="required" />
                    <label for="name">Full name</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" name='sem' value="{{i[2]}}"
                        placeholder="Enter your sem..." data-sb-validations="required" />
                    <label for="name">Semester</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A sem is required.</div>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" name='gender' value="{{i[3]}}"
                        placeholder="Enter your gender..." data-sb-validations="required" />
                    <label for="name">Gender</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A gender is required.</div>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" name='dept' value="{{i[4]}}"
                        placeholder="Enter your dep..." data-sb-validations="required" />
                    <label for="name">Depertment</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A depertment is required.</div>
                </div>
                <!-- Email address input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="email" type="email" name='email' value="{{i[5]}}"
                        placeholder="name@example.com" data-sb-validations="required,email" />
                    <label for="email">Email address</label>
                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                </div>
                <!-- Phone number input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="phone" type="tel" name='phone' value="{{i[6]}}"
                        placeholder="(123) 456-7890" data-sb-validations="required" />
                    <label for="phone">Phone number</label>
                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                    </div>
                </div>
                <!-- Address input -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" name='address' type="text"
                        placeholder="Enter your address here..." rows="5" style="height: 10rem"
                        data-sb-validations="required">{{i[7]}}</textarea>
                </div>
                <br>
                <!-- Submit Button-->
                <p align="center"><button class="btn btn-primary" id="submitButton" type="submit">Update</button></p>

            </div>
        </div>
</div>
</div>
</div>
</form>
{% endfor %}
</div>

{% endblock %}
