<!DOCTYPE html>
<html>
    <head>
        <title>demo</title>
    </head>
    <body>
        <form action="/contact" method="POST">
        <p>Name:
            <input type="" class="" name="name" placeholder="enter your name">
        </p>
        <p>Email:
            <input type="email" class="" name="email" placeholder="enter your name">
        </p>
        <p>Phone:
            <input type="tel" class="" name="phone" placeholder="enter your name">
        </p>
        <p>Message:
            <textarea class="" name="message" placeholder="enter your name"></textarea>
        </p>
        <p><input type="submit"></p>
    </form>
    </body>
</html>